#Text1 {
  margin-top: 9px;
  margin-left: 30px;
}
a {
  text-decoration: none;
}
#Text2,
#Text3 {
  margin-top: 9px;
  margin-left: 10px;
  position: relative;
  right: 150px;
}
#iconAcceuil1 {
  margin-right: 9px;
}
#iconAcceuil2 {
  margin-top: 14px;
  margin-right: 9px;
  font-size: 20px;
}
.tp {
  background-color: #415e92;
  color: white;
}
#Text1:hover,
#Text2:hover,
#Text3:hover,
#iconAcceuil1:hover,
#iconAcceuil2:hover {
  color: #a4b6c9;
  cursor: pointer;
}
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
#background2 {
  width: 100%;
  height: 200px;
}
#livreur {
  position: absolute;
  bottom: 90px;
  right: 266px;
  width: 10%;
}
#title {
  font-size: 30px;
  color: #415e92;
}
#hr {
  color: #b2ddd9;
  font-style: bold;
  font-size: 900px;
  width: 195px;
  height: 5px;
}
#acceuilBorder {
  border: #b2ddd9 solid 5px;
  padding: 50px;
  width: 600px;
  height: 400px;
  position: relative;
  left: 320px;
  top: 70px;
}
li {
  list-style: none;
}
.space {
  color: #415e92;
  display: inline-block;
  margin-top: 30px;
  padding: 10px;
  font-size: 15px;
  background-color: #daf1ef;
  border-radius: 3px;
  transition: padding 0.2s;
}
#sp1 {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  left: 70px;
  top: 0px;
}
#sp2 {
  position: relative;
  left: 240px;
  bottom: 72px;
}
#sp2:hover {
  background-color: #c1d8d6;
  padding-right: 13px;
  padding-left: 13px;
}
#sp1:hover {
  background-color: #c1d8d6;
  padding-right: 18px;
  padding-left: 18px;
}
