<app-header></app-header>
<div id="acceuilBorder"><br>
    <h1 id="title">What TOURIN Can Do For You</h1>
    <hr id="hr">
    <p id="parag">We have an extensive international network, however, <br>our pricing and reservation team is located
        in
        Casablanca<br> but we
        have other offices and warehouses scattered around the world.<br> and to ensure coordination between the
        different
        agencies and<br>this application has been made available to you with two interfaces:</p>
    <ul>
        <li>
            <a routerLink="/agent/login" class="space" id="sp1">Agent Space
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/agency/login" class="space" id="sp2">Agency Space</a>
        </li>
    </ul>
</div>
<img src="assets/images/acceuil1.PNG" id="livreur" />
<img src="assets/images/background.PNG" id="background" />
<img src="assets/images/background.PNG" id="background2" />
<app-footer></app-footer>