<table class="table table">
    <tbody>
        <tr class="tp">
            <td>
                <p id="Text1"><i id="iconAcceuil1" class="far fa-envelope"></i>
                    info@tourininternationalshipping.com
                </p>
            </td>

            <td>
                <p id="Text2"><i id="iconAcceuil1" class="fas fa-phone-alt"></i>0512131415</p>
            </td>

            <td>
                <p id="Text3"><i id="iconAcceuil1" class="fas fa-map-marker-alt"></i>211 Bd d'Anfa Casablanca</p>
            </td>
            <td>
                <a href="http://facebook.com"><i Id="iconAcceuil2" class="fab fa-facebook-square"></i></a>
            </td>
            <td>
                <a href="http://instagram.com"><i Id="iconAcceuil2" class="fab fa-instagram-square"></i></a>
            </td>
        </tr>
    </tbody>
</table>