.btn:hover {
  background-color: #ecf0f1;
  color: #415e92;
}
#card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#header {
  background-color: #ecf0f1;
  color: black;
  text-align: center;
}
#fn {
  font-style: oblique;
  color: #415e92;
}
#cross {
  border: transparent;
  background-color: transparent;
}
#crossC {
  font-size: 20px;
  color: rgb(165, 30, 30);
}
#idStyle {
  color: #71c4bc;
}
#confirm:hover {
  background-color: #f39c12;
  color: white;
}
#cancel:hover {
  background-color: #95a5a6;
  color: white;
}
